{% extends "base.html" %}                                                                               
{% block page_content %}                                                                                
<div class="col-md-10 offset-md-2">                                    
	<h1>Sentiment Predictor and Social Media Shaper</h1> 
	<center>
	<p>Welcome to Spasms, the Twitter generator
	<br/>
	<a href="exercise" class="btn btn-info" role="button">Create new exercise</a>
	</center>
</div>

{% endblock %}
