{% extends "base.html" %}                                                                               
{% block page_content %}
<div class="center-div">    
	<center>
	<h1>Sentiment Predictor and Social Media Shaper</h1> 
	<p>Welcome to Spasms, the Twitter generator</p>
	<br/>
	<a href="exercise" class="btn btn-info" role="button">Create new exercise</a>
	</center>
</div>
<br/>
<h3>Created Exercises</h3>
<ul class='list-group'>
{% for element in exercise_list %}
 <li class='list-group-item'>
 	<a data-toggle="collapse" data-target="#collapse_{{element.id}}" href="#collapse_{{element.id}}">
 		<span style="color:black">{{ element.name }}</span>
 		<a href="{{element.get_absolute_url}}" class="btn btn-primary" role="btn">Create group</a>
 		<a href="{{element.pk}}/delete_exercise" class ="btn btn-danger" role="btn">Delete</a>
 	</a>
 	<div class='collapse' id ="collapse_{{element.id}}">
 		Primary Key:{{element.pk}}<br>
 		Description: {{element.description}} <br/>
 		<a href="{{element.get_groups_url}}">View more info</a>
 	</div>
 </li>

{% endfor %}
</ul>

{% endblock %}
