{% extends "base.html" %}                                                                               
{% block page_content %}
<div class="center-div">    
	<center>
	<h1>Sentiment Predictor and Social Media Shaper</h1> 
	<p>Welcome to Spasms, the Twitter generator</p>
	<br/>
	<a href="exercise" class="btn btn-info" role="button">Create new exercise</a>
	<a href="run" class="btn btn-info" role="button">Create new run</a>
	<a href="view_exercise" class="btn btn-info" role="button">View exercises</a>
	</center>
</div>

{% endblock %}
