{% extends "base.html" %}
{% block page_content %}
<h3><strong>Contact Us</strong></h3>
<p class="lead">This application was created by a group of three Computer Science students from George Mason University for the U.S. Army Training and Doctrine Command. </p>
<p> The names and contact information for the main team of GMU students are listed below: </p>
<ul>
	<li>Sharon Jose: sharonmjose101@gmail.com</li>
	<li>Thomas Klock: thomasklock14@gmail.com</li>
	<li>John Martinez: johnhenrymartinez@gmail.com</li>
</ul>
<p> The names and contact information for James, the subject matter expert who helped the team in building this project, and Joel, the main customer who guided use throughout this project, are listed below: </p>
<ul>
	<li>James Stoup: jstoup@incadencecorp.com</li>
	<li>Joel Williamson: joel.t.williamson.civ@mail.mil </li>
</ul>

{% endblock %}
