{% extends "base.html" %}
{% block page_content %}
<h3><u>To use the software</u></h3>
<p>1.On the main page, create an exercise, you can create as many xercises as you want.</p>
<ul>
<li>To clarify, "Percent female" is used to specify how many people in "Num users" is female.</li>
</ul>
<p>2.On the main page, create a run, you can create as many runs in a given Exercise as you want.</p>
<p>3.On the main page, you can view all the exercises and runs that were created with each run.</p>
<ul>
<li>In the runs list, you are able to export the data of a given run.</li>
</ul>
<p>4.On the main page, you can view the exported data from the previous step<p>
{% endblock %}
