{% extends "base.html" %}                                                                               
{% block page_content %}  

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %} class = 'alert alert-success' role='alert'>{{ message }}</div>
    {% endfor %}
{% endif %}
<a href="index" class="btn btn-info" role="button">Back to home page</a>
{% if run_label %}
	<a href="display_json" class="btn btn-info" role="button">View Json Data</a>
{% endif %}
{% if group_name %}
	<a href="run" class="btn btn-info" role="button">Create run</a>
{% endif %}
{% if exercise_name %}
	<a href="group" class="btn btn-info" role="button">Create group</a>
{% endif %}


{% endblock %}


